{% extends 'base.html' %}

{% block content %}

<br>
<div class="container">
  <div class="text-center">
    <h1>User Registration</h1>
  </div>
</div> <br><br><br>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card">
      <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img-top"
        alt="Hollywood Sign on The Hill" />
      <div class="card-body text-center">
        
        <a type="button" class="btn btn-block" href="{% url 'patient_register' %}"><h3 class="card-title">Register as Patient</h3></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/042.webp" class="card-img-top"
        alt="Palm Springs Road" />
      <div class="card-body text-center">
        
        <a type="button" class="btn btn-block" href="{% url 'doctor_register' %}"><h3 class="card-title">Register as Doctor</h3></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/043.webp" class="card-img-top"
        alt="Los Angeles Skyscrapers" />
      <div class="card-body text-center">
        
        <a type="button" class="btn btn-block " href="{% url 'staff_register' %}"><h3 class="card-title">Register as Staff</h3></a>
      </div>
    </div>
  </div>
  
</div>

 <!--   <section>
        <div class="container">
          <div class="row">
            <div class="col-md-6 mx-auto">
              <div class="card">
                <div class="card-header text-black">
                  <h2>User Registration</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                       <div class="col-lg-6">
                        <a type="button" class="btn btn-block" href="{% url 'patient_register' %}">I am a patient</a>
                       </div>
                       <div class="col-lg-6">
                        <a type="button" class="btn btn-block" href="{% url 'doctor_register' %}">I am an doctor</a>
                       </div>
                       <div class="col-lg-6">
                        <a type="button" class="btn btn-block" href="{% url 'staff_register' %}">I am a staff</a>
                       </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>-->
  
{% endblock %}